/**
 * @prettier
 */

:root {
  --shadow-main-right-content: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.main-container {
  padding-left: 0;
  padding-right: 0;
}

/* 메인 페이지 왼쪽 */
.main-left {
  min-height: calc(100% - 5rem);
  position: fixed;
  width: 40rem;
}

.search-form-wrapper {
  margin-bottom: auto;
  margin-top: 5rem;
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
}

.search-wrapper .search-input {
  appearance: none;
  border: none;
  border: 3px solid #2563eb;
  font-size: 1.125rem;
  outline: none;
  padding: 0.7rem 0.8rem;
  transition-duration: 0.1s;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 18rem;
}

.search-wrapper .search-input::selection {
  background-color: #fd8585;
  color: white;
}

.search-wrapper .search-submit {
  appearance: none;
  background-color: #2563eb;
  border: none;
  cursor: pointer;
  outline: none;
  padding-left: 0.8rem;
  padding-right: calc(0.8rem + 3px);
}

.search-submit-icon {
  color: white;
}

/* 메인 페이지 오른쪽 */

.main-right {
  flex-grow: 1;
  height: 100%;
  margin-left: 40rem;
  min-height: calc(100vh - 5rem);
  padding-right: 1rem;
}

.main-right-contents {
  gap: 1.5rem;
  grid-template-columns: repeat(10, 1fr);
  margin-top: 2rem;
  row-gap: 2rem;
}

.main-right-menu {
  border-radius: 0.4rem;
  box-shadow: var(--shadow-main-right-content);
  height: 18rem;
}

.main-right-menu .input-tab {
  display: none;
}

.main-right-menu .tabs {
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.main-right-menu .tab {
  background-color: #343436;
  border-radius: 0.4rem 0.4rem 0 0;
  color: white;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.05rem;
  order: 1;
  padding: 1rem 2rem 1.3rem;
  transition-duration: 0.1s;
  transition-property: background-color color box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 25%;
}

.main-right-menu .tab:hover {
  background-color: #454546;
}

.main-right-menu .input-tab:checked + .tab {
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  color: black;
  z-index: 1;
}

.main-right-menu .tab-content {
  background-color: white;
  border-radius: 0 0 0.4rem 0.4rem;
  display: none;
  flex-grow: 1;
  grid-template-columns: repeat(3, 1fr);
  order: 9;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
}

.main-right-menu .input-tab:checked + .tab + .tab-content {
  display: grid;
  row-gap: 1rem;
}

.main-right-menu .menu-link-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.main-right-menu .menu-link {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: max-content;
}

.main-right-menu .menu-link:hover > span {
  text-decoration: underline;
  text-decoration-color: #2563eb;
  text-decoration-thickness: 1px;
}

.main-right-menu .menu-link a {
  align-items: center;
  background-color: #2563eb;
  border-radius: 50%;
  color: white;
  display: flex;
  height: 4rem;
  justify-content: center;
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  width: 4rem;
}

.main-right-menu .menu-link:hover > a {
  background-color: #2d91ef;
}

.main-right-menu .menu-link:active > a {
  background-color: #2b56b5;
}

.main-right .login-box {
  border-radius: 0.4rem;
  box-shadow: var(--shadow-main-right-content);
  overflow: hidden;
  perspective: 500px;
}

.main-right .login-box .slide {
  height: 100%;
  position: relative;
  transform: translateX(0);
  transition-duration: 1s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.main-right .login-box .slide-side {
  height: 100%;
  padding: 1rem;
  position: absolute;
  width: 100%;
}

.main-right .login-box .slide-back {
  transform: translateX(100%);
}

.main-right .login-box .login-description {
  color: #3c4257;
  gap: 1rem;
}

.main-right .login-box .login-description h2 {
  font-size: 1.75rem;
  letter-spacing: 0.05rem;
}

.main-right .login-box .login-description p {
  font-size: 0.8rem;
}

.main-right .login-box /slide-button-wrapper {
  
}

.main-right .login-box .slide-button {
  appearance: none;
  font-size: 1.125rem;
  letter-spacing: 0.05rem;
  outline: none;
  max-width: 9rem;
  padding: 0.5rem 1rem;
}

.main-right .login-box .slide-button:hover {

}

.main-right .login-box .slide-button:active {

}

.main-right .login-box .login-form {
  color: #3c4257;
  gap: 0.5rem;
}

.main-right .login-box .find-account {
  color: black;
  font-size: 0.9rem;
  text-align: right;
  text-decoration: none;
}

.main-right .login-box .find-account:hover {
  text-decoration: underline;
}

.card {
  border-radius: 0.4rem;
  box-shadow: var(--shadow-main-right-content);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.card a {
  width: 100%;
}

.card a img {
  border-radius: 0.4rem;
  width: 100%;
}

.card .text-link {
  margin-left: 1rem;
  text-decoration: none;
  width: max-content;
}

.card .text-link h2 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  width: max-content;
}

.card p {
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card1 {
  background-color: #efa52d;
  grid-row: 2 / 4;
}

.card1 h2 {
  color: white;
}

.card1 p::selection {
  background-color: #5a2def;
  color: white;
}

.card2 {
  background-color: #70fda1;
}

.card2 .text-link h2 {
  color: rgb(32, 32, 32);
  font-size: 2.5rem;
}

.card2 p::selection {
  background-color: #fd7c70;
  color: white;
}

.card3 {
}
