/**
 * @prettier
 */

/* left side */
.main-left {
  min-height: calc(100% - 5rem);
  position: fixed;
  width: 40rem;
}

.search-form-wrapper {
  margin-top: calc(50vh - 5rem - 1rem);
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
}

.search-wrapper .search-input {
  appearance: none;
  border: none;
  border: 3px solid #2563eb;
  font-size: 1.125rem;
  outline: none;
  padding: 0.7rem 0.8rem;
  transition-duration: 0.1s;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 18rem;
}

.search-wrapper .search-input:focus {
}

.search-wrapper .search-submit {
  appearance: none;
  background-color: #2563eb;
  border: none;
  cursor: pointer;
  outline: none;
  padding-left: 0.8rem;
  padding-right: calc(0.8rem + 3px);
}

.search-submit-icon {
  color: white;
}

/* right side */
.main-right {
  flex-grow: 1;
  height: 100%;
  margin-left: 40rem;
  min-height: calc(100vh - 5rem);
}

.main-right-contents {
}

.main-right-contents .grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main-right-contents .row1 {
}

.main-img {
  filter: opacity(10%) blur(1px);
  width: 100%;
}
