/* 
 * @prettier
 */

main {
  margin-top: 1rem;
  position: relative;
  width: 100%;
}

.login-box-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.login-box {
  background-color: white;
  border: 2px solid #aaa;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  height: 25rem;
  justify-content: center;
  padding-left: 4.1rem;
  padding-right: 4.1rem;
  width: 30rem;
}

.login-description {
  color: #3c4257;
  margin-bottom: 1rem;
}

.login-description h2 {
  font-size: 1.75rem;
  letter-spacing: 0.05rem;
}

.login-description p {
  font-size: 0.8rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-label {
  color: #3c4257;
  font-size: 0.85rem;
  margin-bottom: 0rem;
  font-weight: 500;
}

.input-text {
  appearance: none;
  border: 1px solid #bbb;
  border-radius: 0.4rem;
  box-shadow: 0 0 0 3px none;
  color: #303441;
  display: inline-block;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.8rem;
  transition-duration: 0.1s;
  transition-property: box-shadow, border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.03rem;
}

.input-text:focus {
  border: 1px solid white;
  box-shadow: 0 0 0 3px #2563eb;
  outline: none;
}

.login-submit {
  appearance: none;
  background-color: #0284c7;
  border: none;
  border-radius: 0.4rem;
  color: white;
  display: inline-block;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0.2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.login-submit:hover {
  background-color: #0369a1;
}

.login-submit:active {
  background-color: #0ea5e9;
}

.find-account {
  color: black;
  font-size: 0.9rem;
  text-align: right;
  text-decoration: none;
}

.find-account:hover {
  text-decoration: underline;
}
