/**
 * @prettier
 */

:root {
  --shadow-box: rgba(50, 50, 93, 0.25) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --shadow-box-hover: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  --c-active: #2563eb;
  --c-active-inner: #ffffff;
  --c-default: #d2d6e9;
  --c-default-dark: #c7cbdf;
  --c-black: #1b1b22;
}

.root {
  height: 100%;
}

main.container {
  padding-inline: 2rem;
}

.portal-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 2rem;
  margin-top: 2rem;
  row-gap: 2rem;
  width: 100%;
}

.portal-container > * {
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: var(--shadow-box);
  transition-duration: 0.3s;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portal-container > *:hover {
  box-shadow: var(--shadow-box-hover);
}

/* 구현 시작 */

/* 유저 정보 */
.user-info-box {
  align-items: center;
  display: flex;
  grid-column: 1 / 3;
  height: 25rem;
  padding: 1rem;
  padding-inline: 2rem;
}

.user-info-box .user-info-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.user-info-box .user-info-header .header-wrapper {
  align-items: center;
  display: flex;
  height: max-content;
}

.user-info-box .user-info-header .icon {
  align-items: center;
  background-color: #2563eb;
  border-radius: 4px;
  color: white;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  margin-right: 1rem;
  vertical-align: top;
  width: 1.5rem;
}

.user-info-box .user-info-header h3 {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.user-info-box .toggle-blur-wrapper {
  align-items: center;
  display: flex;
  gap: 0.2rem;
  justify-content: flex-end;
  overflow: hidden;
  perspective: 500px;
  position: relative;
  width: 7rem;
}

.user-info-box .toggle-blur-label {
  left: 1rem;
  position: absolute;
  transform-style: preserve-3d;
}

.user-info-box .toggle-blur-label:first-child {
  transform: translateY(-1rem) translateZ(-1rem) rotateX(-90deg);
}

.user-info-box .toggle-blur-label:first-child.active {
  transform: none;
}

.user-info-box .toggle-blur-label:nth-child(2) {
  transform: translateY(1rem) translateZ(-1rem) rotateX(90deg);
}

.user-info-box .toggle-blur-label:nth-child(2).active {
  transform: none;
}

.user-info-box .toggle-blur {
  border-radius: var(--border-radius, 12px) var(--border-radius-corner, 12px)
    var(--border-radius, 12px) var(--border-radius, 12px);
  display: table;
  position: relative;
  --input-width: 38px;
}

.user-info-box .toggle-blur input {
  appearance: none;
  background: var(--input-background, none);
  border: none;
  border-radius: inherit;
  cursor: pointer;
  display: block;
  height: var(--input-height, 24px);
  margin: 0;
  outline: none;
  padding: 0;
  width: var(--input-width, 24px);
  --input-background: var(--c-default);
}

.user-info-box .toggle-blur input + svg {
  --input-background: var(--c-default);
  --default-s: 1;
  --default-x: 0px;
  --dot-s: 0;
  --dot-x: -8px;
}

.user-info-box .toggle-blur input:checked {
  --input-background: var(--c-active);
}

.user-info-box .toggle-blur input:checked + svg {
  --default-s: 0;
  --default-x: 8px;
  --dot-s: 1;
  --dot-x: 0px;
}

.user-info-box .toggle-blur svg {
  bottom: 0;
  display: block;
  fill: var(--c-active-inner);
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(1.01) translateZ(0);
}

.user-info-box .toggle-blur .default {
  transform: translateX(var(--default-x)) scale(var(--default-s)) translateZ(0);
  transform-origin: 12px 12px;
}

.user-info-box .toggle-blur .dot {
  transform: translateX(var(--dot-x)) scale(var(--dot-s)) translateZ(0);

  transform-origin: 26px 12px;
}

.user-info-box .user-info-wrapper {
  width: 100%;
}

.user-info-box .user-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  row-gap: 1rem;
}

.user-info-box .user-info .user-info-data {
  align-items: center;
  border-bottom: 1px solid rgb(225, 223, 223);
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.user-info-box .user-info .user-info-data .label {
  margin-right: 1rem;
  width: 4rem;
}

.user-info-box .user-info .user-info-data .label .label-text {
  align-items: center;
  color: rgb(153, 153, 153);
  display: flex;
  width: max-content;
}

.user-info-box .user-info .user-info-data .data {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-info-box .user-info .user-info-data .data .data-text {
  color: transparent;
  text-shadow: 0 0 12px rgb(0, 0, 0, 0.5);
  transition-duration: 0s;
  transition-property: color text-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.user-info-box .user-info .user-info-data .data .data-text::selection {
  text-shadow: 0 0 12px rgb(0, 0, 0, 0.5);
}

.user-info-box .user-info .user-info-data .data .data-text.unblur {
  text-shadow: 0 0 0 rgb(0, 0, 0, 1);
}

.user-info-box .user-info .user-info-data .data .data-text.unblur::selection {
  background-color: #2563eb;
  text-shadow: 0 0 0 rgb(255, 255, 255, 1);
}
/* 유저 정보 끝 */

/* 사용자 관련 링크 */
.user-related-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  grid-column: 3 / 5;
  justify-content: center;
}

.user-related-box .user-affiliation {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.user-related-box .user-affiliation > div {
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 14rem;
}

.user-related-box .user-affiliation > div .label {
  color: rgb(153, 153, 153);
  display: inline-block;
}

.user-related-box .user-affiliation > div a {
  --color: #323338;

  color: var(--color);
  font-size: 1.125rem;
  padding: 0.2rem 0;
  position: relative;
  text-decoration: none;
}

.user-related-box .user-affiliation > div a::before {
  --line-width: 109%;
  --line-height: 1px;
  --line-easing: ease;
  --line-transition-duration: 300ms;

  background: var(--color);
  bottom: 0;
  content: "";
  height: var(--line-height);
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform var(--line-transition-duration) var(--line-easing);
  width: var(--line-width);
  z-index: 1;
}

.user-related-box .user-affiliation > div a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.user-related-box .user-affiliation > div a:hover span {
  --deg: -45deg;
}

.user-related-box .user-affiliation > div a:hover span::before {
  transform: rotate(var(--deg));
}

.user-related-box .user-affiliation > div a:hover span::after {
  transform: translateX(-1px) rotate(var(--deg));
}

.user-related-box .user-affiliation > div a span {
  --line-arrow-width: 1px;
  --line-arrow-height: 6px;
  --line-arrow-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
  --line-arrow-transition-duration: 200ms;
  --line-arrow-transition-delay: 240ms;
}

.user-related-box .user-affiliation > div a span::before,
.user-related-box .user-affiliation > div a span::after {
  background: var(--color);
  bottom: 0px;
  content: "";
  position: absolute;
  right: -12%;
  transition: transform var(--line-arrow-transition-duration)
    var(--line-arrow-easing);
  transition-delay: var(--line-arrow-transition-delay);
  z-index: 2;
}

.user-related-box .user-affiliation > div a span::before {
  height: var(--line-arrow-height);
  transform: rotate(-90deg);
  transform-origin: 0% 100%;
  width: var(--line-arrow-width);
}

.user-related-box .user-affiliation > div a span::after {
  height: var(--line-arrow-width);
  transform: translateX(-1px) rotate(0deg);
  transform-origin: 100% 0%;
  width: var(--line-arrow-height);
}

.user-related-box .user-navigation .links {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.user-related-box .user-navigation .links .link {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: max-content;
}

.user-related-box .user-navigation .links .link a {
  align-items: center;
  background-color: #2563eb;
  border-radius: 50%;
  color: white;
  display: flex;
  height: 5rem;
  justify-content: center;
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  width: 5rem;
}

.user-related-box .user-navigation .links .link > span {
  font-size: 1.125rem;
  letter-spacing: 0.05rem;
}

.user-related-box .user-navigation .links .link:hover > a {
  background-color: #2d91ef;
}

.user-related-box .user-navigation .links .link:active > a {
  background-color: #2b56b5;
}

.user-related-box .user-navigation .links .link:hover > span {
  text-decoration: underline;
  text-decoration-color: #2d91ef;
  text-decoration-thickness: 1px;
}

.user-related-box .user-navigation .links .link:active > span {
  text-decoration-color: #2b56b5;
}

/* 배너 */
.banners {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: 5 / 7;
  justify-content: center;
  padding: 1rem;
}

.banners .grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

.banners .grid .banner {
  align-items: center;
  display: flex;
  width: 18rem;
}

.banners .grid .banner:nth-of-type(2n-1) {
  justify-content: flex-end;
}

.banners .office-365 {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.banners .office-365 img {
  /* width: 16rem; */
}

.banners .office-365 .links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.banners .office-365 .links a {
  color: var(--color);
  font-size: 1.5rem;
  font-weight: 500;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: max-content;
}

.banners .office-365 .links a::after {
  background-color: var(--background);
  bottom: -6px;
  content: "";
  height: calc(100% - 8px);
  left: 12px;
  position: absolute;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  width: calc(100% - 8px);
  z-index: 0;
}

.banners .office-365 .links a:hover::after {
  bottom: -2px;
  height: 100%;
  left: 0;
  width: 100%;
}

.banners .office-365 .links a:first-child {
  --color: rgb(236, 64, 122);
  --background: rgb(236, 64, 122, 0.25);
}

.banners .office-365 .links a:last-child {
  --color: rgb(238, 111, 30);
  --background: rgb(238, 111, 30, 0.25);
}

/* 버튼들 */
.portal-container .control-panel {
  align-items: center;
  display: flex;
  grid-column: 1 / 4;
  height: 25rem;
  justify-content: center;
  padding: 1rem;
}

.portal-container .control-panel .buttons {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
}

.portal-container .control-panel .buttons > div {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.portal-container .control-panel .buttons .button-wrapper button {
  background: transparent;
  border: 3px solid black;
  color: black;
  cursor: pointer;
  display: inline;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  letter-spacing: 2px;
  position: relative;
  transition: all 0.4s;
  width: 150px;
}

.portal-container .control-panel .buttons .button-wrapper button:focus {
  outline: none;
}

.portal-container .control-panel .buttons .button-wrapper button::before {
  background-color: black;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 100%;
  transition: all 0.4s;
  width: 100%;
  z-index: -1;
}

.portal-container .control-panel .buttons .button-wrapper button:hover {
  color: gold;
}

.portal-container .control-panel .buttons .button-wrapper button:hover::before {
  transform: translateY(-100%);
}

/* 추가 정보 */
.additional-info {
  grid-column: 4 / 7;
  height: 25rem;
}

.additional-info .oop {
  align-items: center;
  display: flex;
  justify-content: center;
}
.additional-info .op {
  height: 350px;
  width: 500px;
}
.additional-info .op td {
  text-align: center;
}
.additional-info .op th,
.additional-info .op td {
  border: 1px solid #999;
}

/* 정보 패널 */
.info-panel {
  background-color: #f5f3ff;
  border-radius: 0.4rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 2rem);
  left: 62rem;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 1rem;
  transform: none;
  transition: opacity 0.08s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  width: 55rem;
  z-index: 10000;
}

.info-panel.active {
  opacity: 1;
  visibility: visible;
}

.info-panel .info-panel-header {
  align-items: center;
  background-color: #6d28d9;
  display: flex;
  height: 2.2rem;
}

.info-panel .close-info-panel {
  background-color: #fd5d5a;
  border: 1px solid #cf544d;
  border-radius: 50%;
  cursor: pointer;
  height: 1.2rem;
  margin-left: 0.6rem;
  position: relative;
  width: 1.2rem;
}

.info-panel .close-info-panel::before,
.info-panel .close-info-panel::after {
  background-color: #600205;
  border-radius: 50%;
  content: "";
  height: 70%;
  inset: 50% auto auto 50%;
  opacity: 0;
  position: absolute;
  transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  width: 1px;
}

.info-panel .close-info-panel::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.info-panel .close-info-panel::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.info-panel .close-info-panel:hover::before,
.info-panel .close-info-panel:hover::after {
  opacity: 1;
}

.info-panel .outer-tabs .outer-tab-input,
.info-panel .outer-tabs .inner-tabs .inner-tab-input {
  display: none;
}

.info-panel .outer-tabs {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  letter-spacing: 0.05rem;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.info-panel .outer-tabs .outer-tab {
  align-items: center;
  background-color: #343436;
  color: white;
  cursor: pointer;
  display: flex;
  height: 3.5rem;
  justify-content: center;
  text-align: center;
  transition-duration: 0.1s;
  transition-property: background-color color box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.info-panel .outer-tabs .outer-tab:hover {
  background-color: #454546;
}

.info-panel .outer-tabs .outer-tab-input:checked + .outer-tab {
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  color: black;
  color: black;
}

.info-panel .select-wrapper {
  display: none;
  height: max-content;
  justify-content: flex-end;
  margin-top: 1rem;
  order: 5;
  visibility: hidden;
  width: 100%;
}

.info-panel .outer-tab-input:checked + .outer-tab + .select-wrapper {
  display: flex;
  visibility: visible;
}

.info-panel .select-wrapper .select {
  background-color: white;
  cursor: pointer;
  margin: 0;
  padding-right: 3rem;
  width: 46%;
}

.info-panel .info-panel-content {
  align-items: center;
  display: flex;
  flex: 1 1;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.info-panel .info-panel-content > * {
  height: 100%;
  width: 100%;
}

.info-panel .info-panel-content .content-name {
  color: #2f2d3b;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  margin-bottom: 2rem;
  text-align: center;
}

.info-panel .common-wrapper {
  align-items: center;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 1rem;
}

.info-panel .form-wrapper form label {
  font-size: 0.77rem;
}

.info-panel .change-user-info-wrapper {
  height: 27rem;
  width: 30rem;
}

.info-panel #change-user-info {
  display: flex;
  flex-direction: column;
}

.info-panel #change-user-info > input {
  margin-bottom: 1rem;
  width: 25rem;
}

.info-panel #change-user-info > .submit {
  margin-top: 1.5rem;
  width: 25rem;
}

.info-panel .change-password-form-wrapper {
  height: 22rem;
  width: 30rem;
}

.info-panel .change-password-form-wrapper #change-password-form {
  display: flex;
  flex-direction: column;
}

.info-panel #change-password-form > input {
  margin-bottom: 1rem;
  width: 25rem;
}

.info-panel #change-password-form > .submit {
  margin-top: 1.5rem;
  width: 25rem;
}

.info-panel .apply-minor-form-wrapper {
  height: 22rem;
  width: 30rem;
}

.info-panel .apply-minor-form-wrapper #apply-minor-form {
  display: flex;
  flex-direction: column;
}

.info-panel .apply-minor-form-wrapper #apply-minor-form select {
  margin-bottom: 1rem;
  width: 25rem;
}

.info-panel .apply-minor-form-wrapper #apply-minor-form .submit {
  margin-top: 1.5rem;
  width: 25rem;
}

.info-panel .apply-double-major-form-wrapper {
  height: 22rem;
  width: 30rem;
}

.info-panel .apply-double-major-form-wrapper #apply-double-major-form {
  display: flex;
  flex-direction: column;
}

.info-panel .apply-double-major-form-wrapper #apply-double-major-form select {
  margin-bottom: 1rem;
  width: 25rem;
}

.info-panel .apply-double-major-form-wrapper #apply-double-major-form .submit {
  margin-top: 1.5rem;
  width: 25rem;
}

.info-panel .check-minor-application-wrapper {
  height: 20rem;
  width: 30rem;
}

.info-panel #check-minor-application {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.info-panel .check-wrapper .check-section {
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  height: 3rem;
  justify-content: center;
  padding: 2.8rem 2rem;
}

.info-panel .check-wrapper .check-label {
  color: #999;
  text-align: center;
}

.info-panel .check-wrapper .check-info {
  font-size: 1.125rem;
  letter-spacing: 0.05rem;
  text-align: center;
}

.info-panel .check-wrapper .approval {
  align-items: center;
  display: flex;
  grid-column: span 2;
  justify-content: center;
}

.info-panel .check-wrapper .approval h2 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.info-panel .check-double-major-application-wrapper {
  height: 20rem;
  width: 30rem;
}

.info-panel #check-double-major-application {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.info-panel .instruction-wrapper {
  overflow-y: auto;
  width: 48rem;
}

.info-panel .instruction-wrapper .instruction-title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.info-panel .instruction {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  height: 25rem;
  margin-top: 2rem;
  padding-inline: 2rem;
  width: 46rem;
}

.info-panel .instruction p {
  width: 100%;
}

.info-panel .instruction ol {
  padding-left: 1rem;
  text-align: left;
}

.info-panel .instruction ol ol {
  padding-left: 2rem;
  text-align: left;
}

.info-panel .instruction .top > li:not(:last-child) {
  margin-bottom: 0.7rem;
}

.info-panel .instruction span.blue {
  color: #1d4ed8;
}

.info-panel .instruction span.red {
  color: #be123c;
}

.info-panel .instruction span.bold {
  font-weight: bold;
}

.info-panel .instruction span.underline {
  text-decoration: underline;
}

.info-panel .instruction a:link,
.info-panel .instruction a:visited,
.info-panel .instruction a:active {
  color: #2563eb;
  text-decoration: none;
}

.info-panel .instruction a {
  font-weight: 700;
}

.info-panel .instruction a:hover,
.info-panel .instruction a:focus {
  text-decoration: underline;
}

.info-panel .take-off-wrapper {
  height: 32rem;
  width: 40rem;
}

.info-panel #take-off {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.info-panel #take-off .prerequisite {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-panel #take-off .prerequisite img {
  width: 30rem;
}

.info-panel #take-off-form {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.info-panel #take-off-form .file {
  display: flex;
}

.info-panel #take-off-form .file-name {
  border: 1px solid #ddd;
  color: #444;
  display: inline-block;
  height: 2.5rem;
  padding: 0 0.8rem;
  pointer-events: none;
  width: 12rem;
}

.info-panel #take-off-form #take-off-document {
  background-color: #2563eb;
  color: white;
  cursor: pointer;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0;
  padding: 0 0.8rem;
  text-align: center;
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.info-panel #take-off-form #take-off-document:hover,
.info-panel #take-off-form #take-off-document:focus {
  background-color: #2d91ef;
}

.info-panel #take-off-form #take-off-document:active {
  background-color: #2b56b5;
}

.info-panel #take-off-form input[type="file"] {
  display: none;
}

.info-panel #take-off-form .submit {
  width: 7rem;
}

.info-panel .return-wrapper {
  height: 25rem;
  width: 35rem;
}

.info-panel #return-school {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.info-panel #return-school .description {
}

.info-panel #return-school .request {
  background-color: #2563eb;
  border: none;
  border-radius: 0.4rem;
  color: white;
  font-size: 1.125rem;
  letter-spacing: 0.05rem;
  margin-top: 1rem;
  outline: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.08s cubic-bezier(0.4, 0, 0.2, 1);
  width: 9rem;
}

.info-panel #return-school .request:hover {
  background-color: #2d91ef;
}

.info-panel #return-school .request:active {
  background-color: #2b56b5;
}
