/* 
 * @prettier
 * 웹사이트에 전반적으로 사용되는 스타일을 정의하는 css파일입니다.
 */

:root {
  --color-background: rgb(250, 250, 249);
}

html {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

.root {
  background-color: var(--color-background);
  height: 100vh;
  width: 100vw;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  width: 100%;
}

/* 헤더 스타일 정의 */
.header {
  align-items: flex-center;
  border-bottom: 1px solid #ccc;
  display: flex;
  font-size: 1.125rem;
  height: 5rem;
  position: relative;
  width: 100%;
}

.top-navbar {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-between;
}

.top-navbar-daejin {
  order: 0;
}

.top-navbar-main {
  display: flex;
  gap: 1.2rem;
  order: 1;
}

.header a {
  color: black;
  text-decoration: none;
}

.top-navbar-link {
  transition: color 0.08s cubic-bezier(0.12, 0, 0.39, 0);
}

.top-navbar-link:hover {
  color: #193296;
}

.top-navbar-side {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  order: 2;
  width: 224px;
}

.top-navbar-side a {
  border-radius: 0.4rem;
  padding: 0.3rem 0.3rem;
  transition: background-color 0.08s cubic-bezier(0.12, 0, 0.39, 0);
}

.top-navbar-side a:hover {
  background-color: #eee;
}

.open-navbar {
  background-color: var(--color-background);
  border: none;
  border-radius: 0.4rem;
  padding-top: 0.3rem;
  transition: background-color 0.08s cubic-bezier(0.12, 0, 0.39, 0);
}

.open-navbar:hover {
  background-color: #eee;
}
/* 헤더 스타일 정의 끝 */
